.cube-tab-bar {
    .cube-tab {
        font-size: 15px;
        color: #666666;
        margin-right: 38px;
        &.cube-tab_active {
            color: #019DDD;
        }
        &:nth-child(3) {
            margin-right: 0;
        }
    }
    .cube-tab-bar-slider {
        // width: 20px !important;
        height: 2px;
        background-color: #019DDD;
    }
}

.banner {
    width: 100%;
    height: 145px;
    overflow: hidden;
    .cube-slide-group {
        >.cube-slide-item {
            >a {
                display: block;
                width: 100%;
                >img {
                    width: 100%;
                }
            }
        }
    }
}